langchain_google_genai
langchain_openai
langchain
load-dotenv
pydantic
fastapi
uvicorn[standard]
langchain-community
langchain-unstructured
unstructured-client
unstructured
unstructured[pdf]
python-magic
# langchain community
# unstructured packages
google-generativeai