langchain_google_genai
langchain_openai
langchain
load-dotenv
pydantic
fastapi
uvicorn[standard]
# langchain community
langchain-community
# unstructured packages
langchain-unstructured
unstructured-client
unstructured
unstructured[pdf]
python-magic
